.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 14rem; */
    padding: 2% 2%;
    /* color: #ffffff; */
    background-color:  #D9D9D9;
    width: 312px;
  
    /* height: 100%; */
    /* position: fixed; */
   
   
  /* position: fixed;     
  z-index: 1;       
  top: 0;         
  left: 0; */
}
.top{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.logomain{
    margin-left: 1rem;
}
.tab{
    display: flex;
    gap: 0.4rem;
    padding: 7% 5%;
    width: 236px;
    height: 45px;
    border-radius: 20px;
    align-items: center;
   
}
.tab1{
    display: flex;
    gap: 0.4rem;
    padding: 7% 5%;
    width: 236px;
    height: 45px;
    border-radius: 20px;
    align-items: center;
   
}
/* .tab{
    color: rgba(50, 50, 50, 1);
} */

.tab:hover{
    background-color:rgba(50, 50, 50, 1);
    border-radius: 20px;
    width: 236px;
    height: 45px;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding: 7% 5%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;  
}
.tab1:hover{
    background-color:rgba(50, 50, 50, 1);
    border-radius: 20px;
    width: 236px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    padding: 7% 5%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;  
}

/* .tab:hover,.tab:active>img{
    background-color: rgb(232, 237, 232);
    color: red;
} */



/* .tab>svg{
    width: 40px;
} */


.bottom>span{
    color: rgba(80, 80, 80, 1);
}
.tab:hover svg path{
 stroke: rgba(241, 241, 241, 1);
 fill: rgba(255,255,255,1);
 stroke-width: 0.2px;

}
.tab1:hover svg path{
 stroke: rgba(241, 241, 241, 1);

}




/* .active{
    background-color:rgba(50, 50, 50, 1);
    border-radius: 20px;
    height: 250px;
    width: 236px;
    color: rgb(155, 16, 16);
    display: flex;
    padding: 1% 1%;
    
  }  */

  /* .active{
    background-color:rgba(50, 50, 50, 1);
    border-radius: 20px;
    height: 45px;
    width: 236px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    
  } 
  .active svg path{
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0.2px;
    fill: rgba(255,255,255,1);
  } */