.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 14rem; */
    padding: 2% 2%;
    /* color: #ffffff; */
    background-color:  #D9D9D9;
    width: 302px;
  
    /* height: 100%; */
    /* position: fixed; */
   
   
  /* position: fixed;     
  z-index: 1;       
  top: 0;         
  left: 0; */
}
.top{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.tab{
    display: flex;
    gap: 0.4rem;
    padding: 7% 5%;
   
}
/* .tab{
    color: rgba(50, 50, 50, 1);
} */

.tab:hover{
    background-color:rgba(50, 50, 50, 1);
    border-radius: 15px;
    padding: 7% 5%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;  
}

/* .tab:hover,.tab:active>img{
    background-color: rgb(232, 237, 232);
    color: red;
} */



.tab>svg{
    width: 40px;
}


.bottom>span{
    color: rgba(80, 80, 80, 1);
}