.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 1);
    width:  -webkit-fill-available;
    height: 100%;
    padding: 2% 5%;
}
.div1{
    display: flex;
    justify-content: flex-end;
  
}

.div1right{
    display: flex;
    gap: 1rem;
}

/* .div1right svg:hover path{
background-color: black;
fill: black;
stroke: black;
} */
.white{
    background-color: rgba(255, 255, 255, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white:hover{
    background-color: black;
}
.white:hover svg path{
    stroke: #fff;
   
}
.active svg path{
    stroke: yellowgreen;
}
.prfl{
    display: flex;
   align-items: center;
}
.prfl>img{
    width: 50px;
    border-radius: 50%;
}

.div2{
    height: 157px;
    background-color: #fff;
    padding: 2% 1%;
    font-size: 14px;
    margin-top: 1rem;
    border-radius: 20px;
}
.div2top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div2topright{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.div2bottom{
    display: flex;
    gap: 1rem;
    padding: 3% 1%;
}

.alltime{
    display: flex;
width: 62px;
height: 31px;
border-radius: 8px;
padding: 6px 6px;
color: rgba(80, 80, 80, 1);
border: 0.3px solid rgba(80, 80, 80, 1);

}

.sbox{
    width: 25%;
    height: 74px;
    background-color:rgba(241, 241, 241, 1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between; 
    align-content: center;
    padding: 2% 1%;
}
.sboxleft{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-content: center;
}
.div3{
    height: 365px;
    background-color: #fff;
    margin-top: 2rem;
}
/* .act{
    background-color:rgb(225, 17, 17);
    border-radius: 20px;
    height: 45px;
    width: 236px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    
  } 
  .act svg path{
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0.2px;
    fill: rgba(255,255,255,1);
  }
   */