.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 1);
    width:  -webkit-fill-available;
    height: 100%;
    padding: 1% 5%;
}
.div1{
    display: flex;
    justify-content: space-between;
    
}
.div1right{
    display: flex;
    gap: 1rem;
}
.div2{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
   
}
.div2left{
    /* width: fit-content;
    height: fit-content; */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 35px;
    width: 205px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
   
}
.sinput{
    background-color: rgba(255, 255, 255, 0.3);

    border: none;
    height: 35px;
    /* width: fit-content; */
}

.div2right{
    display: flex;
    gap: 1rem;
}
.r0{
    display: flex;
    gap: 0.5rem;
    /* width: 110px; */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}


.r1,.r2,.r3{
    display: flex;
    gap: 0.5rem;
    width: 110px;
   

}
.r1,.r2{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.r3{
    justify-content: center;
    align-items: center;
}
.div3{
    width: 100%;
    height: 100%;
}
/* .table1{
  
    border-collapse:collapse;
    margin: 25px 0;
    min-width: 100%;
    min-height: 90%;
    padding: 1rem 2rem;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 224, 224, 1);
  
   
}

.table1>tr{
    border-bottom: 1px solid black;
    display: flex;
   
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.thead{
    background-color: #ad0c0c;
    
} */


.table1{
    margin-top: 1rem;
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
    font-size: 13px;
    background-color: rgba(224, 224, 224, 1);
    padding: 5px 1px;
  
}
.table1>tr{
    width: 100%;
}
td{
    border-bottom: 1px solid rgb(70, 70, 75);
   
}
.thead>td{
    border: none;
}
/* .table1>tr{
    display: flex;
 
    border: 1px solid red;
    padding: 1% 1%;
} */

.thead{
    background-color: #fff;
    width: 100%;
    height: 40px;
}










.vd{
   
    background:  rgba(255, 255, 255, 1);
 
    border-radius: 5px;
    /* padding: 0.4% 0.4%; */
    align-items: center;
    justify-content: center;
   text-align: center;
   width: 100px;
   display: flex;
   height: 28px;
}


.numbers{
    display: flex;
    gap: 4rem;
    list-style: none;
}


  .div4{
    margin-top: 1rem;
  }